@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
html {
  overflow-y: hidden;
  overflow-x: hidden;
}

.showcase {
  background: black;
}

.container {
  background-image: url(../../images/header-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  height: 90vh;
  width: 100%;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-wrap: break-word;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.typewriter h1 {
  color: #fff;
  font-family: "montserrat";
  font-size: 6vh;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #6e7dab;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.12em;
  /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
          animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.typewriter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  font-family: monospace;
  font-size: 11vh;
  overflow: hidden;
}

.typewriter div a {
  color: rgba(255, 255, 255, 0);
  text-decoration: none;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  -webkit-animation: basicsubtitle 2s;
          animation: basicsubtitle 2s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes basicsubtitle {
  from {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    color: rgba(255, 255, 255, 0.527);
  }
  to {
    color: white;
  }
}

@keyframes basicsubtitle {
  from {
    color: rgba(0, 0, 0, 0);
  }
  50% {
    color: rgba(255, 255, 255, 0.527);
  }
  to {
    color: white;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #6e7dab;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #6e7dab;
  }
}

.generic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
  height: 90vh;
  letter-spacing: 0.2vmin;
  width: 100%;
}

.arrows {
  color: white;
  font-size: 6vh;
  text-decoration: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 991px) {
  .typewriter h1 {
    font-size: 7vw;
  }
  .generic {
    padding-top: 20vh;
    color: #fff;
    padding: 20px;
    height: 90vh;
    letter-spacing: 0.1vmin;
    width: 100%;
    font-size: 11px;
  }
}
/*# sourceMappingURL=inicio.css.map */