@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

:root {
  --dark-blue: #1f4782;
  --dark-gray: #303335;
  --golden: #ab834c;
  --golden-tainoi: #e9be71;
  --gray: #818c96;
  --white: #fff;
}

.showcase {
  background: rgb(0, 0, 0);
  padding: 100px;
}

.container {
  z-index: 3;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
}

.general-container {
  display: flex;
  height: 25rem;
  margin: 0 auto;
  max-width: 100%;
  width: 70rem;
}

.radio {
  display: none;
}

.content {
  background: var(--white) url("../../images/authorphoto.jpg") 100% / cover
    no-repeat;
  border-radius: 3rem;
  cursor: pointer;
  flex: 1;
  margin-right: 0.8rem;
  overflow: hidden;
  position: relative;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.content:hover {
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
}

.icon {
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  bottom: 1rem;
  color: #1a2f3d;
  display: flex;
  font-size: 1.5rem;
  height: 2.5rem;
  justify-content: center;
  left: 1.1rem;
  position: absolute;
  width: 2.5rem;
}

.content:nth-of-type(2) {
  background-image: url("../../images/gatoNoe.png");
}

.content:nth-of-type(3) {
  background-image: url("../../images/gatoAlejandro.png");
}

.content:nth-of-type(4) {
  background-image: url("../../images/gatoAdrian.png");
}

.content:nth-of-type(2) .icon {
  color: #62534b;
}

.content:nth-of-type(3) .icon {
  color: #747474;
}

.content:nth-of-type(4) .icon {
  color: #42404a;
}

.card-title {
  bottom: 1.2rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  left: 4.5rem;
  line-height: 1.1;
  opacity: 0;
  position: absolute;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  transform: translateX(2rem);
  transition: 290ms cubic-bezier(0.05, 0.61, 0.41, 0.95) 300ms;
  transition-property: opacity, transform;
  user-select: none;
  white-space: nowrap;
}

.subtitle {
  font-size: 0.9rem;
}

.description {
  font-size: 0.7rem;
}

/* Effect */
.radio:checked + .content {
  border-radius: 2rem;
  box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.3);
  flex: 10;
}

.radio:checked + .content > .card-title {
  opacity: 1;
  transform: translateX(0);
}



@media (max-width: 991px) {
  .showcase {
    margin-top: 9vh;
  }

  .showcase {
    padding: 30px;
  }
  .content {
    background: var(--white) url("../../images/authorphoto.jpg") 100% / cover
      no-repeat;
  }

  .content:nth-of-type(2) {
    background-image: url("../../images/gatoNoeMobile.png");
  }

  .content:nth-of-type(3) {
    background-image: url("../../images/gatoAleMobile.png");
  }

  .content:nth-of-type(4) {
    background-image: url("../../images/gatoAdrianMobile.png");
  }
}
